@import '/src/data/styles.css';

section{
    align-items: center;
    margin-top: 10%;
    display: flex;
    padding: 0.7rem 1.7rem;
}
section h2{
    margin-top: auto;
    margin-bottom:5%;
}
img{
    width: 40%;
    height:40%;
    border-radius: 10%;
}

article{
    float:left;
    width:50%;
    margin-bottom:5%;
}
.about_me_image{
    margin-bottom:5%;
}
.about_container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about_me{
    text-align: center;

}
.about_content{
    padding: 5%;
    text-align: center;

}
.about_text{
    width: 100%;
}

@media screen and (max-width: 1024px) {

    img{
        width: 50%;
        height:50%;
        border-radius: 10%;
    }

}

@media screen and (max-width: 600px) {

    img{
        width: 50%;
        height:50%;
        border-radius: 10%;
    }
}