@import '/src/data/styles.css';

/* basic styles */

html {
scroll-behavior: smooth;
scroll-padding-top: 4rem;
}

ul {
    list-style-type: none;
  }

/* CSS Resets */
/* removes some default features (margin and padding), as well as the text-decoration for the anchor tags, and the list-style-type for lists */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
/*sets a hover state for all links, changes to the secondary color*/
a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

.container{

    width: var(--container-width-lg);
    margin: 0 auto;  /*position in the middle horizontally */
}


/* media queries for medium-size devices e.g. tablets */

@media screen and (max-width: 1024px) {

    .container{

        width: var(--container-width-md);
    }

    section{

        margin-top: 6rem;
    }
    
}

/* media queries for small-size devices e.g. phones */

@media screen and (max-width: 600px) {

    .container{

        width: var(--container-width-sm);
    }

    section > h2{

        margin-bottom: 2rem;
    }
    
}